@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
}

input {
	width: 200px;
	height: 24px;
	line-height: 60px;
}

button,select {
	width: 70px;
	height: 30px;
	margin-top: 25px;
	border: 1px groove #D9DADC;
	cursor: pointer;
	border: 1px groove #D9DADC;
}

button {
	border-radius: 8px;
	box-shadow: 2px 2px 5px #bbb;
	font-size: 16px
}

#path {
	position: fixed;
	top: 0;
	z-index: 1000;
	height: 80px;
	width: 100%;
	background: #F9F9D9;
}

#path h1 {
	margin-left: 20px
}

#top_tools {
	position: fixed;
	top: 80px;
	margin: auto;
	z-index: 1000;
	height: 80px;
	width: 1540px;
	background: #98C73D;
	z-index: 1000;
}

#top_tools .topCreate {
	height: 100%;
	display: inline-block;
	margin-left: 50px;
}

#top_tools .topSearch {
	height: 100%;
	display: inline-block;
	position: absolute;
	right: 50px;
}

#folderList {
	position: absolute;
	top: 170px;
	font-size: 22px;
	text-align: center;
}

#folderList thead tr {
	height: 56px;
	width: 1540px;
	background: #ECECED;
}

#folderList thead tr th {
	height: 56px;
	width: 510px;
}

#bodyList {
	position: relative;
	left: 10px;
	text-align: left;
	font-size: 18px;
	font-weight: 500;
	text-align: left;
}

#bodyList tr:nth-of-type(odd) {
	background: #FFFFD0;
	width: 1540px;
	height: 30px;
}

#bodyList tr:nth-of-type(even) {
	background: #F0F0F0;
	width: 1540px;
	height: 30px;
}

#bodyList tr td:nth-child(1) {
	cursor: pointer;
	padding-left: 36px;
}

#bodyList .file_folder {
	background-image: url("../../../../folderImg.png");
	background-repeat: no-repeat;
	background-size: 30px 30px;
}

#bodyList .file_type_txt {
	
}

#bodyList tr td:nth-child(1):hover {
	color: blue;
}

#bodyList tr td:nth-child(1):active {
	color: red;
}