@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
}

#menu {
	position: fixed;
	left: 0;
	top: 0;
	width: 140px;
	height: 160px;
	border: 1px solid #8C8C8C;
	box-shadow: 5px 5px 3px #888888;
	background-color: #FFFFFF;
	display: none;
	z-index: 999;
}

#menu ul {
	list-style: none;
	text-align: left;
	margin: 0;
	padding: 0;
}

#menu ul li {
	height: 40px;
	width: 120px;
	padding-left: 20px;
	line-height: 38px;
	cursor: pointer;
}

#menu ul li:hover {
	background: #D9DADC;
	color: blue;
}

#menu ul .disabled {
	background: #BFBFBF;
	color: #D9DADC;
	opacity: .6;
}

#menu ul .disabled:hover {
	background: #BFBFBF;
	color: #D9DADC;
	opacity: .6;
	cursor: default;
}

#childMenu {
	position: relative;
	left: 120px;
	top: -36px;
	width: 160px;
	height: 120px;
	display: none;
	border: 1px solid #8C8C8C;
	box-shadow: 5px 5px 3px #888888;
	background-color: #FFFFFF;
	border: 1px solid #8C8C8C;
	border: 1px solid #8C8C8C;
}

#childMenu .file_title {
	height: 40px;
	width: 160px;
	padding-left: 0px;
}

/*#order:hover #childMenu {
	display: block;
	color: black;
	text-align: center;
}*/

#order:hover #childMenu li:hover {
	background: #D9DADC;
	color: blue;
}

input {
	width: 200px;
	height: 24px;
	line-height: 60px;
}

button,select {
	width: 70px;
	height: 30px;
	margin-top: 25px;
	border: 1px groove #D9DADC;
	cursor: pointer;
	border: 1px groove #D9DADC;
}

button {
	border-radius: 8px;
	box-shadow: 2px 2px 5px #bbb;
	font-size: 16px
}

#path {
	position: fixed;
	top: 0;
	z-index: 1000;
	height: 80px;
	width: 100%;
	background: #F9F9D9;
}

#source {
	position:absolute;
	display: inline-block;
	margin-left: 20px;
	width:1200px;
}

#path button {
	margin-left: 10px;
	width: 90px;
	font-size: 14px;
	background: #F9F9D9;
}

#top_tools {
	position: fixed;
	top: 80px;
	margin: auto;
	z-index: 1000;
	height: 80px;
	width: 1540px;
	background: #98C73D;
	z-index: 1000;
}

#top_tools .topCreate {
	height: 100%;
	display: inline-block;
	margin-left: 50px;
}
#top_tools .topCreate input{
	
}

#top_tools .topSearch {
	height: 100%;
	display: inline-block;
	position: absolute;
	right: 200px;
}

#folderList {
	position: absolute;
	top: 170px;
	font-size: 22px;
	text-align: center;
}

#folderList thead tr {
	height: 56px;
	width: 1540px;
	background: #ECECED;
}

#folderList thead tr th {
	height: 56px;
	width: 510px;
}

#bodyList {
	position: relative;
	left: 10px;
	text-align: left;
	font-size: 18px;
	font-weight: 500;
	text-align: left;
}

#bodyList tr:nth-of-type(odd) {
	background: #FFFFD0;
	width: 1540px;
	height: 30px;
}

#bodyList tr:nth-of-type(even) {
	background: #F0F0F0;
	width: 1540px;
	height: 30px;
}

#bodyList tr td:nth-child(1) {
	cursor: pointer;
}

#bodyList tr td:nth-child(1):hover {
	color: blue;
}

#bodyList tr td:nth-child(1):active {
	color: red;
}

#file_background {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	z-index: 9900;
	display: none;
}

#file_context {
	position: fixed;
	top: 50px;
	left: 300px;
	width: 800px;
	height: 600px;
	border: 2px groove #D5DCEE;
	border-radius: 10px;
	opacity: 1;
	background: #FFF;
	z-index: 9999;
	border: 2px groove #D5DCEE;
	display: none;
}

#file_context .title {
	padding: 20px 0 0 20px;
}

#file_context .title span {
	font-size: 15px;
	font-weight: bold;
}

#file_context .title input {
	width: 500px;
}

#file_context .context {
	padding: 0 0 0 60px;
}

#file_context .context textarea {
	resize: none;
}

#btn_group {
	padding: 0px 80px;
}

#file_context .edit button {
	margin-left: 140px;
	width: 100px
}

#file_context .see button:nth-of-type(2) {
	display: none;
}

#file_context .see button:nth-of-type(1) {
	margin-left: 230px;
}
